.side-bar-container
	.about-me
		.title
			p About Me

		.about-image

		.about-excerpt
			p My name is Justin Cuizon, and I am obsessed with Fitness, Food and more specifically, Self-development.
			<br/>
			p Entrepreneur
			p Techie
			p Foodie
			p Traveler
			p Fitness Junkie

	.network
		.title
			p Network

		.first-row
			.first-col
				ul
					li: a(href="https://www.facebook.com/juscuizon" target="_blank"): i.fa.fa-facebook.fa: .network-text Facebook
					li: a(href="https://twitter.com/juscuizon" target="_blank"): i.fa.fa-twitter.fa: .network-text Twitter
			.second-col
				ul
					li: a(href="https://www.instagram.com/juscuizon/" target="_blank"): i.fa.fa-instagram.fa: .network-text Instagram
					li: a(href="https://www.youtube.com/channel/UCoOBmvKmiQzjkB3Wwd8SLnA" target="_blank"): i.fa.fa-youtube-play.fa: .network-text Youtube
	.categories
		.title
			p Categories

		.first-row
			select(onchange="location = this.options[this.selectedIndex].value")
				option(value="{{ site.baseurl }}" selected="selected") Select Category
				option(value="{{ site.baseurl }}/categories/technology") Technology
				option(value="{{ site.baseurl }}/categories/finance") Finance
				option(value="{{ site.baseurl }}/categories/fitness") Fitness
				option(value="{{ site.baseurl }}/categories/food") Food
				option(value="{{ site.baseurl }}/categories/travel") Travel

	.subscribe-form
		.title
			p Subscribe via email

		form(method='POST' action='/subscribe')
			.email
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="//justincuizon.us15.list-manage.com/subscribe/post?u=79fa547311447ca79b7b447c4&amp;id=594f80b25c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true">
							<input type="text" name="b_79fa547311447ca79b7b447c4_594f80b25c" tabindex="-1" value=""></div>
						<div class="clear">
							<input type="submit" value="SIGN ME UP!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
				</div>

				<!--End mc_embed_signup-->

	.instagram-plugin
		.title-insta
			p Instagram

		.insta-widget
			<!-- SnapWidget -->
			<script src="https://snapwidget.com/js/snapwidget.js"></script>
			<iframe src="https://snapwidget.com/embed/407127" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>

	.twitter-plugin
		.title
			p Twitter

		.twitter-widget
			<!-- SnapWidget -->
			<script src="https://snapwidget.com/js/snapwidget.js"></script>
			<iframe src="https://snapwidget.com/embed/407132" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
